<h1>Article#show</h1>

<article class="detail-article">
	<h3 class="article-detail-title"><%= @article.title %></h3>
    <p><%= @article.body %></p>
    <div class="glyphicon glyphicon-calender" id="article-date">
    	<%= @article.created_at.strftime("%b %d %Y") %><!-- strftime => method for string format time -->
    </div>
</articles>