@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  #background: #e7e7e7;
  color: #64103F;
}

// Navbar styling
.navbar {
 background: #white;
}

.navbar-default .navbar-brand {
  font-size: 150%;
  font-weight: bold;
  color: black;
}

.navbar-default .navbar-brand:hover {
  color: #ff0000;
}

.navbar-default {
  border: #64103F;
}

.navbar-nav {
  background: white;
}

.navbar-default .navbar-nav li > a {
  font-weight: bold;
  font-size: 130%;
  color: #ffffff;
  background: #e7e7e7;
}

.navbar-default .navbar-nav li > a:hover {
  color: #ff0000;

}

// Form styling
.page-heading, div > label {
  color: #64103F;
}

// Listing articles styling

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.8em;
  padding-left: 0.7em;
}

.article-body {
  padding-left: 1.2em;
  color: #64103F;

}

.author {
  color: #64103F;
  padding-left: 25px;
}

// .article-title {
//
// }

.detail-article{
  background-color: #f8f8f8;
  padding-left: 10px;
}

.article-detail {
  margin-top: 20px;
  color: #0000ff;
}

.article-detail-title {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.article-show-body {
  padding-left: 0em;
  margin-top: 15px;
  color: black;
}


.edit-delete {
  margin-top: 20px;
}

//Sign-up - Sign-in
.sign-link a{
  font-size:112.5%;
  font-weight:700;
}

#article-date{
  float: right;
}

// Devise Error Messages 

#error_explanation {
  background-color: #f2dede; 
  color: #a94442; 
  text-align: left;
  padding: 5px 20px; 
  margin-bottom: 30px;
}

#error_explanation h2 { 
  font-size: 150%;
}

